
.hero-container {
   margin-top: 50px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.my-image {
  width: 255px; 
  height: 255px; 
  border-radius: 100%; 
  border: 3px black;
  margin-top: 100px;
}

.intro {
  display: flex;
  flex-direction: column;
  width: 482px; 
  height: 103px; 
  font-family: Poppins; 
  font-size: 30px; 
  line-height: 1.4; 
  font-weight: 700; 
  color: #BDD1E0FF; 
  text-align: center;
  margin-left: 15px;
  align-items: center;
  gap: 30px;
  margin-top: 25px;
}

.tagline {
  width: 368px; 
  height: 155px; 
  font-family: Poppins; /* Heading */
  font-size: 24px; 
  line-height: 32px; 
  font-weight: 400; 
  color: #565D6DFF; /* neutral-600 */
  text-align: center;
}

.action-buttons {
  display: flex;
  flex-direction: column;
  gap: 10px;
  text-align: center;
}

.action-buttons {
  text-align: center;
  align-items: center;
  justify-content: center;
}

.view-my-work-button {
  width: 161.84375px; 
  height: 40px; 
  padding: 0 12px; 
  display: flex; 
  align-items: center; 
  justify-content: center; 
  font-family: Inter; 
  font-size: 14px; 
  line-height: 22px; 
  font-weight: 600; 
  color: #2D4A60FF; /* primary-800 */
  background: #BDD1E0FF; /* primary-500 */
  opacity: 1; 
  border: none; 
  border-radius: 10px; 
  box-shadow: 0px 0px 1px #171a1f14, 0px 0px 2px #171a1f14; /* shadow-xs */
  cursor: pointer;
}

.view-my-work-button:hover {
  color: #2D4A60FF; /* primary-800 */
  background: #9EBBD1FF; /* primary-550 */
}

.view-my-work-button:active {
  color: #2D4A60FF; /* primary-800 */
  background: #7FA6C3FF; /* primary-600 */
}

.download-cv-button {
  margin: auto;
  height: 40px; 
  padding: 0 12px; 
  display: flex; 
  align-items: center; 
  justify-content: center; 
  font-family: Inter; 
  font-size: 14px; 
  line-height: 22px; 
  font-weight: 600; 
  color: #2D4A60FF; /* primary-500 */
  background: #FFFFFFFF; /* white */
  opacity: 1; 
  border-radius: 10px; 
  border-width: 1px; 
  border-color: #2D4A60FF; /* primary-500 */
  border-style: solid;
  cursor: pointer;
}

.download-cv-button:hover {
  color: rgba(45, 74, 96, 0.633); /* primary-500 */
  background: #FFFFFFFF; /* white */
}

.download-cv-button:active {
  color: #2D4A60FF; /* primary-500 */
  background: #FFFFFFFF; /* white */
}

@media (min-width: 1024px) {

    .hero-container {
      margin-top: 150px;
      display: flex;
      flex-direction: row;
    }

    .my-image {
        width: 384px; 
        height: 400px; 
        border-radius: 9999px;
    }

    .intro {
        width: 1000px; 
        height: 216px; 
        font-family: Poppins; /* Heading */
        font-size: 72px; 
        line-height: 72px; 
        font-weight: 700; 
        color: #BDD1E0FF; /* primary-500 */
    }

    .tagline { 
        width: 528px; 
        font-family: Poppins; /* Heading */
        font-size: 24px; 
        line-height: 32px; 
        font-weight: 400; 
        color: #565D6DFF; /* neutral-600 */
    }

    .view-my-work-button {
        width: 161.84375px; 
        height: 40px; 
        padding: 0 12px; 
        display: flex; 
        align-items: center; 
        justify-content: center; 
        font-family: Inter; 
        font-size: 14px; 
        line-height: 22px; 
        font-weight: 600; 
        color: #2D4A60FF; /* primary-800 */
        background: #BDD1E0FF; /* primary-500 */
        opacity: 1; 
        border: none; 
        border-radius: 10px; 
        box-shadow: 0px 0px 1px #171a1f14, 0px 0px 2px #171a1f14; /* shadow-xs */
    }

    .download-cv-button {
        width: 157.875px; 
        height: 40px; 
        padding: 0 12px; 
        display: flex; 
        align-items: center; 
        justify-content: center; 
        font-family: Inter; 
        font-size: 14px; 
        line-height: 22px; 
        font-weight: 600; 
        color: #2D4A60FF; /* primary-500 */
        background: #FFFFFFFF; /* white */
        opacity: 1; 
        border-radius: 10px; 
        border-width: 1px; 
        border-color: #2D4A60FF; /* primary-500 */
        border-style: solid;
    }

    .action-buttons {

    }
}
